{% extends 'base.html.twig' %}

{% block title %}Parametres du compte
{% endblock %}

{% block content %}
	<h1>Modifier mes informations
	</h1>


	<hr>
	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>

	{% endif %}

	{{form(form)}}


	</hr>
	<a href="{{path('app_account')}}">Retournez à mon compte</a>
{% endblock %}
