{% extends 'base.html.twig' %}
{% block title %}Maintenance du site
{% endblock %}

{% block content %}
	<html>
		<head>
			<title>Maintenance...</title>
			<link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
			<meta charset="utf-8">
			<style type="text/css">
				body {

					background: #1DA1F2;
				}
				.wrapper {
					width: 600px;
					margin: 30px auto;
					padding: 30px;
					background: #fff;
				}
				.twitter-follow-button {
					margin: 10px;

				}
				.h1 {
					color: orange;
					text-align: center;
					font-family: 'Crafty Girls', "Helvetica Neue", Arial, Helvetica, sans-serif;
				}
				.h3 {
					color: #888;
					font-family: 'Crafty Girls', "Helvetica Neue", Arial, Helvetica, sans-serif;
				}
				.h4 {
					color: #888;
					font-family: 'Crafty Girls', "Helvetica Neue", Arial, Helvetica, sans-serif;
				}
			</style>
		</head>
		<body>
			<div class="wrapper">
				<h1 class="h1">En cours de construction</h1>
				<h3 class="h3">Cela va vite arriver !
					<br/>Le site se met à jour</h3>
				<h4 class="h4">N'hesite pas à me follow sur Twitter :
					<a href="https://twitter.com/Fysslisback?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Fysslisback</a>
				</h4>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>

		</body>
	</html>

{% endblock %}
